@import './components/CustomSideBar/CustomSIdeBar.css';
@import './index.css';

.container {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--tran-02);
}

.sidebar.close~.container{

  left: 88px;
  width: calc(100% - 88px);
}


@media (max-width: 768px) {

  .container {
    left: 0;
    width: 100%;
  }
  
  .sidebar.close~.container{
  
    left: 0px;
    width: 100%;
  }
}