@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Thai', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --body-color: #E4E0F7;
  --sidebar-color: #072a58;
  --primary-color: #144fa2;
  --primary-color-light: #f6f5ff;
  --second-color: #475a90;
  --toggle-color: #DDD;
  --text-color-light: #f8fafa;

  --tran-0: all 0s ease;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: #f4f5f5;
}

.barchart-container {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.red-text {
  color: red;
}

.innerToggle {
  position: absolute;
  background: white;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  transition: var(--tran-02);
}

.innerToggle.Tog{
  height: 15px;
  width: 15px;
  border-radius: 50px;
  transform: translateX(21px);
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translatex(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translatex(0px) scale(1);
  }
}

@keyframes count-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}